/* src/styles/answering.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    font-size: 10px; /* تغییر اندازه فونت اصلی */
}

body {
    width: 100%;
    min-height: 100vh;
    font-size: 1.6rem;
    line-height: 140%;
    background-color: #f3f6f6;
    display: grid;
    place-items: center;
}

.card {
    max-width: 800px;
    margin: 2rem auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 5px;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}

.random-btn {
    background-color: black;
    color: white;
    transition: background-color 0.3s ease;
}

.random-btn:hover {
    background-color: white;
    color: black;
}

/* فیلترها */
.filter-options {
    margin: 1rem 0;
    text-align: center;
    display: flex;
    gap: 10px;
    justify-content: center;
}

/* اعمال استایل به وضعیت سوئیچ تم */
body.dark-mode {
    background-color: #1f2029;
    color: #e0e0e0;
}

body.light-mode {
    background-color: #faf9f7;
}

/* استایل‌های عمومی */
.result-message {
    font-size: 1.6rem;
    font-weight: bold;
    color: #28a745;
    margin-top: 1rem;
}

.credit {
    text-align: center;
    padding: 1rem;
}

.credit a {
    text-decoration: wavy underline;
    color: dodgerblue;
}
