
.category-form {
    display: table;
    width: 100%;
    padding: 20px;
    align-content: center;
    margin: 0 auto;
}

.category-form th,
.category-form td {
    text-align: center;
    vertical-align: middle;
}

.category-form input[type="text"],
.category-form textarea {
    padding: 8px;
    margin: 12px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

.category-form button {
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    text-align: center;
    margin: 0 auto;
}

.category-form button:hover {
    background-color: #474747;
}

@media (max-width: 600px) {
    .category-form {
        padding: 10px;
        max-width: 90%;
    }

    .category-form button {
        padding: 8px 16px;
        font-size: 14px;
    }
}
